@charset "ISO-8859-1";

* {
  padding: 0;
  margin: 0;
}

/*border-box stuff*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: white ;
}

/*.backGone{
	background-image: url(../image/ingredient/skyDark.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 0px;
	top:0px;
	width:101%;
	height:665px;
	color : white;
	text-align: center;
	line-height: 600px;
}*/

.container {
  position: relative;
  width: 100%;
  height: 730px;
  margin: 30px auto;
	background-image: url(../image/ingredient/skyDark.png);
  overflow: hidden;
  z-index: -5;
  box-shadow: 0 0 25px #2b2628;
/*   transform: scale(1.5); */
}


.rocket{
		width:15%;
		position:absolute;
		top:13%;
		right: 80%;
}

.cloud{
	position: absolute;
	right:0px;
	top:100px;

}

.cloud-container {
  opacity: 0.6    
}

.cloud,
.cloud:before,
.cloud:after {  
  border-radius: 35px;

}

.cloud {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  border-radius: 50px 35px 35px 15px;
  position: relative;
}

.cloud:before,
.cloud:after {
  content:'';
  display: block;
  position: absolute;
}

.cloud:before {  
  width: 40px;
  height: 45px;
  left: 12px;
  bottom: 0;
}

.cloud:after {
  width: 40px;
  height: 50px;
  right: 16px;
  bottom: 0;
}

.cloud:nth-child(1){
  position: absolute;
  top: 180px;
  left: -450px;
}

.cloud:nth-child(2){
  position: absolute;
  top: 80px;
  left: -230px;
}

.cloud:nth-child(4){
  position: absolute;
  top: 50px;
  left: 230px;
}

.cloud:nth-child(5) {
  position: absolute;
  top: 140px;
  right: 100px;
}

.cloud {
      width: 1450px;  
  animation: move 8s -1.5s linear infinite forwards;
}

@keyframes move {
  0% {transform: translateX(600px);}
  100% { transform: translateX(-1450px); }
}